* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainBlack: #222;
$mainGrey: #ececec;
$mainWhite: #fff;
$mainGreen: #82b340;

body {
  background: $mainWhite;
  color: $mainBlack;
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 70vw;
  margin: 0 auto;
  padding: 2rem;
}
